// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.button-md {
    background:#10497D;
}

.button-small-md {
    font-size: 10px;
    padding: 0 1.9em;
}

.title-header {
    text-align: center;
    color:#35A3B6;
    font-weight: 700;
}

.text-paragraf {
    text-align: center;
    color:#10497D;
    font-weight: 600;
}

.logo {
    width: 140px;
    margin: 0 auto;
}

.intro-image {
    width: 200px;
    margin: 0 auto;
}

.toolbar-title-ios {
    padding: 0 12px;
    font-size: 1.5rem;
    font-weight: 500;    
    text-align: center;
    color:#35A3B6 !important;
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 1.5rem;
    font-weight: 500; 
    text-align: center;
    color:#35A3B6 !important;
}

.botao {
width: 100%;
}
